@model ProductViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="card card-body my-3">
    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <select name="category" class="form-select" asp-items="@(new SelectList(Model.Categories, "Id", "Name", Model.SelectedCategory))">
                        <option value="0">Hepsi</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">Filtrele</button>
                </div>
            </div>
        </div>
    </form>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width: 100px">Numara</th>
            <th style="width: 100px">Görsel</th>
            <th>Ürün</th>
            <th style="width: 100px">Fiyat</th>
            <th style="width: 130px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Products)
        {
            <tr>
                <td>@item.Id</td>
                <td>
                    <img src="~/img/@item.Image" alt="" class="img-fluid"/>
                </td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>
                    <a href="" class="btn btn-sm btn-primary">Edit</a>
                    <a href="" class="btn btn-sm btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>